Source: ros-iron-neo-simulation2
Section: misc
Priority: optional
Maintainer: Padmanabhan Pradheep <padmanabhan@neobotix.de>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-iron-ament-cmake, ros-iron-ament-copyright <!nocheck>, ros-iron-ament-flake8 <!nocheck>, ros-iron-ament-pep257 <!nocheck>, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-neo-simulation2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-ros-workspace
Description: ROS-2 Simulation packages for neobotix robots
